<div class="row">
<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider"></span></li>
    <li class="active">AD Delivery Milestone Calendar</li>
</ul>
    </div>

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-modx fa-fw"></i>AD Delivery Milestone Calendar
            </div>
             
            <div class="panel-body">
                <div class="calendar" ng-model="eventSources2" 
                     ng-if="isShow" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>
                <!--<img src="/images/DeliveryMilestoneCalendar.jpg" />-->
            </div>
        </div>

    </div>    


