<div class="navbar navbar-default navbar-fixed-top bs-docs-nav container" role="banner" ng-controller="HomeController">
    <div class="row" style="border-bottom-color: #e7e7e7; border-bottom: 1px solid;">

        <div class="col-lg-3">
            <div>
                <img src="images/cognizantwhite_small.png" width="100">
            </div>
        </div>
        <div class="col-lg-6">
            <a href="#" class="navbar-brand">
                <img src="images/Title.png" alt="Tec PMO" /></a>
        </div>
        <div class="col-lg-3" style="padding-top:10px">
            <div class="pull-right">
                <img src="images/toyota.png" width="40">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown">Project Corner
                                <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem">
                            <a href="#/project">Project</a>
                        </li>
                        <li role="menuitem">
                            <a href="#/accolades">Client Accolades</a>
                        </li>
                        <li role="menuitem">
                            <a href="#/projectdetails">Project Details</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown">Process Corner
                                <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem">
                            <a href="#/processtemplate">Process Template</a>
                        </li>
                    </ul>
                </li>

                 <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown">Operation Corner
                                <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem">
                            <a>Project Information</a>
                        </li>
                        <li role="menuitem">
                            <a>Revenue/CP Forecasting</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle">People's Corner
                    </a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle">Tech Corner
                    </a>
                </li>
            </ul>


        </nav>
    </div>
</div>
